<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Info</title>
    <%- include ('layout.ejs') %>
  </head>
  <body>
    <div class="container">
    <h1>User Info</h1>
      <table class="responsive-table highlight">
        <thead>
          <tr>
            <th>Email</th>
            <th>Full Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Role</th>
            <th>Gender</th>
            <th>Action</th>

          </tr>
        </thead>

        <tbody>
          <% for(let i=0; i < userTable.length; i++) { %>
          <tr>
            <td><%= userTable[i].email %></td>
            <td><%= userTable[i].fullName %></td>
            <td><%= userTable[i].phoneNumber %></td>
            <td><%= userTable[i].address%></td>
            <td><%= userTable[i].roleID %></td>
            <td><%= userTable[i].gender %></td>
            <td>
            <a class="waves-effect waves-light btn" href="/edit-crud?id=<%= userTable[i].id %>"> Edit</a>
            <a class="waves-effect waves-light btn cyan"href="/delete-crud?id=<%= userTable[i].id %>">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
